*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

/* 分割 */

header{
    width: 100%;
    height: 40px;
    background: #333;
}
.header-box{
    width: 1226px;
    height: 40px;
    margin: 0 auto;
}

.header-box-left{
    width: 60%;
    height: 40px;
    float: left;
    line-height: 40px;
}
.header-box-left a{
    color: #b0b0b0;
    font-size: 12px;
}
.header-box-left a:hover{
    color: white;
}
.header-box-left span{
    font-size: 12px;
    color: #424242;
}

.header-box-right{
    width: 25%;
    height: 40px;
    float: right;
    line-height: 40px;
    text-align: right;
}
.header-box-right>a{
    color: #b0b0b0;
    font-size: 12px;
}
.header-box-right>a:hover{
    color: white;
}
.header-box-right>span{
    font-size: 12px;
    color: #424242;
}
.xiaoXi{
    cursor: default;
}
.gouWuChe{
    width: 120px;
    height: 40px;
    background-color: #424242;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    position: relative;
}
.gouWuChe>i{
    font-size: 16px;
    color: #b0b0b0;
    margin-right: 6px;
}
.gouWuChe>a{
    color: #b0b0b0;
    font-size: 12px;
    display: inline-block;
}
.gouWuChe:hover{
    background-color: #fff;
}
.gouWuChe:hover i{
    color: #FF6700;
}
.gouWuChe:hover a{
    color: #FF6700;
}
.gouWuChe:hover span{
    height: 100px;
    top: 40px;
    right: 0;
    opacity: 1;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.3);
    z-index: 999;

}
.active_gouWuChe{
    width: 300px;
    height: 0;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: -999;
    text-align: center;
    line-height: 100px;
    color: #000;
    font-size: 12px;
    opacity: 0;
}


/* 分割 */

nav{
    width: 100%;
    height: 100px;
    background: #fff;
}
.nav-box{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
}
.nav-box-left{
    width: 234px;
    height: 100px;
    float: left;
    padding-top: 20px;
    box-sizing: border-box;
}
.nav-box-left>img{
    width: 55px;
    height: 55px;
}
.nav-box-bd{
    width: 692px;
    height: 100px;
    float: left;
    line-height: 100px;
    text-align: left;
}
.nav-box-bd>a{
    color: #333;
    font-size: 16px;
    margin: auto 8px;
}
.nav-box-bd>a:hover{
    color: red;
}

.nav-box-right{
    width: 300px;
    height: 50px;
    float: right;
    position: relative;
    box-sizing: border-box;
    margin-top: 25px;
}
.nav-box-right:hover .nav-box-right-item1{
    border-color: #b0b0b0;
}
.nav-box-right:hover .nav-box-right-item2{
    border-color: #b0b0b0;
}
.nav-box-right-item1{
    outline: none;
    width: 223px;
    height: 48px;
    padding-left: 10px;
    border: 1px solid #e0e0e0;
    border-right: 0;
    box-sizing: border-box;
    font-size: 14px;
    float: right;
}
.nav-box-right-item2{
    float: right;
    width: 50px;
    height: 48px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    outline: none;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
}
.nav-box-right-item2>i{
    font-size: 20px;
}
.nav-box-right-item2:hover{
    background: #FF6700;
    border-color: #FF6700!important;
    font-weight: bold;
    color: #333;
}
.nav-box-right-item2:hover i{
    color: white;
}
.xiaomi9{
    width: 40px;
    height: 18px;
    background-color: #eeeeee;
    float: right;
    position: absolute;
    top: 15px;
    right: 125px;
    font-size: 12px;
    color: #757575;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}
.xiaomi9:hover{
    background-color: #FF6700;
}
.xiaomi9SE{
    width: 60px;
    height: 18px;
    position: absolute;
    top: 15px;
    right: 60px;
    font-size: 12px;
    color: #757575;
    background-color: #eeeeee;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}
.xiaomi9SE:hover{
    background-color: #FF6700;
}
.dot.xuanzhong{
    background: red;
}

/* 分割 */

.banner{
    width: 100%;
    height: 830px;
}
.banner-box{
    width: 1226px;
    height: 460px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.banner-box>img{
    width: 1226px;
    height: 460px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;   
}
.banner-left{
    width: 234px;
    height: 460px;
    float: left;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    z-index: 2;
}
.banner-left>ul{
    width: 234px;
    height: 460px;
    box-sizing: border-box;
    padding-top: 20px;
}
.banner-left>ul>li{
    width: 234px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
}
.banner-left>ul>li:hover{
    background-color: #FF6700;
}
.banner-left>ul>li>a{
    color: white;
    font-size: 14px;
}
.banner-left>ul>li>a>span{
    margin-left: 30px;
}
.banner-left>ul>li>a>img{
    display: inline-block;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 13px;
    margin-right: 13px;
    color: white;
}

/* 分割 */

.asideItem{
    width: 992px;
    height: 460px;
    background: blue;
    color: #fff;
    text-align: center;
    line-height: 460px;
    position: absolute;
    top: 0;
    left: 234px;
    display: block;
    z-index: 9999999999;
    font-size: 60px;
    display: none;
}

/* 分割 */

.banner-pre-next{
    width: 41px;
    height: 69px;
    position: absolute;
    top: 190px;
    z-index: 999;
    line-height: 69px;
    text-align: center;
    cursor: pointer;
}
.banner-pre-next:hover{
    background-color: rgba(51, 51, 51, 0.6);
}
.banner-box>.banner-pre-next:hover i{
    color: white!important;
}
.banner-pre-next>i{
    font-size: 35px;
    color: rgba(224, 224, 224, 0.11);
}
.banner-pre{
    left: 234px;
}
.banner-next{
    right: 0;
}
.banner-show{
    width: 100%;
    height: 170px;
    margin-top: 20px;
}
.banner-show-box{
    width: 1226px;
    height: 170px;
    margin: 0 auto;
}

.banner-show-item{
    width: 316px;
    height: 170px;
    float: left;
    margin-left: 14.6px;
}
.banner-show-item>img{
    width: 316px;
    height: 170px;
}
.banner-show-item:hover{
    box-shadow: 0 10px 20px rgba(176, 176, 176, 0.4);
}


.span4{
    width: 234px;
    height: 170px;
    margin-left:0;
    background-color: #e0e0e0;
}
.clearfix-list{
    width: 234px;
    height: 170px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
    position: relative;
}
.clearfix-list>li{
    width: 70px;
    height: 82px;
    float: left;
    padding: 0 3px;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
}
.clearfix-list>li:hover i{
    color: rgba(255,255,255,1);
}
.clearfix-list>li:hover a{
    color: rgba(255,255,255,1);
}
.clearfix-list>li>a{
    display: block;
    width: 70px;
    height: 46px;
    padding-top: 18px;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
}
.clearfix-list>li>a>i{
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
}

.spanQ{
    width: 1px;
    height: 70px;
    background-color: #665e57;
}
.span11{
    position: absolute;
    top: 6px;
    left: 78px;
}
.span22{
    position: absolute;
    top: 6px;
    left: 155px;
}
.span33{
    position: absolute;
    top: 88px;
    left: 78px;
}
.span44{
    position: absolute;
    top: 88px;
    left: 155px;
}
.spanW{
    width: 70px!important;
    height: 1px!important;
    background-color: #665e57;
}
.span55{
    position: absolute;
    top: 82px;
    left: 5px;
}
.span66{
    position: absolute;
    top: 82px;
    left: 82px;
}
.span77{
    position: absolute;
    top: 82px;
    left: 160px;
}
.dots{
    width: 100px;
    height: 18px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    z-index: 999;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: rgb(224, 224, 224);
    float: left;
    border: 0.1px solid rgba(255,255,255,0.3);
    box-sizing: border-box;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 4px;
}
.dots .xuanzhong{
    background-color: white;
}
.dot:hover{
    background-color: #FF6700;
}

/* 分割 */

.Separator{
    width: 1226px;
    height: 120px;
    margin: 0 auto;
    margin-top: 20px;
}
.Separator>img{
    width: 1226px;
    height: 120px;
}

/* 分割 */

#bei{
    width: 100%;
    height: 6920px;
    background-color: #f5f5f5;
    padding-top: 20px;
}

/* 分割 */

#phone{
    width: 100%;
    height: 686px;
    background-color: #f5f5f5;

}
.phone-box{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.phone-title{
    width: 1226px;
    height: 58px;
}
.phone-title>.itemS{
    font-size: 22px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: left;
}
.phone-title>.itemS2{
    font-size: 16px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: right;
}
.phone-title>.itemS2>i{
    opacity: 0.4;
}
.phone-title>.itemS2:hover{
    color: #ff6700;
    cursor: pointer;
    opacity: 1;
}
.phone-left{
    width: 234px;
    height: 614px;
    float: left;
    cursor: pointer;
    transition: all 0.3s;
}
.phone-left>img{
    width: 234px;
    height: 614px;
}
.phone-left:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);

}
.phone-right{
    width: 992px;
    height: 614px;
    float: right;
}
.phone-right-item{
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    background-color: #fff;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.3s;
}
.phone-right-item:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.phone-right-p1{
    width: 64px;
    height: 20px;
    background-color: #83c44e;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}
.phone-right-item>img{
    width: 160px;
    height: 160px;
    margin-top: 12px;
    margin-left: 36px;
}
.phone-right-p2{
    width: 234px;
    height: 21px;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}
.phone-right-p3{
    width: 214px;
    height: 18px;
    text-align: center;
    color: #b0b0b0;
    font-size: 12px;
    padding: 0 10px;
    overflow: hidden;
}
.phone-right-p4{
    width: 234px;
    height: 21px;
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.phone-right-p4>s{
    color: #b0b0b0;
    font-size: 13px;
}
.active{
    background-color: #e53935;
}

/* 分割 */

.jiaDian{
    width: 100%;
    height: 686px;
    background-color: #F5F5F5;
    margin-top: 25px;
}
.jiaDian-box{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.jiaDian-title{
    width: 1226px;
    height: 58px;
}
.jiaDian-title>.itemS{
    font-size: 22px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: left;
}
.jiaDian-title>.itemS2{
    font-size: 16px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: right;
    margin-left:30px ;
    box-sizing: border-box;
}
.jiaDian-title>.itemS2>span{
    box-sizing: border-box;
    transition: all 0.3s;
}
.jiaDian-title>.itemS2:hover span{
    cursor: pointer;
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.jiaDian-left{
    width: 234px;
    height: 614px;
    float: left;
    cursor: pointer;
}
.jiaDian-left-top{
    height: 300px;
    transition: all 0.3s;
    box-sizing: border-box;
}
.jiaDian-left-top>img{
    width: 234px;
    height: 300px;
}
.jiaDian-left-top:hover{
    transform: translate(0,-2px);
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
}
.jiaDian-left-bottom{
    height: 300px;
    margin-top: 14px;
    transition: all 0.3s;
}
.jiaDian-left-bottom:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.jiaDian-left-bottom>img{
    width: 234px;
    height: 300px;
}
.jiaDian-right{
    width: 992px;
    height: 614px;
    float: right;
}
.jiaDian-right-item{
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
}
.jiaDian-right-item:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.jiaDian-right>.active3-jiaDian{
    transform: translate(0);
}
.jiaDian8-1:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.jiaDian8-2:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.jiaDian-right-p1{
    width: 64px;
    height: 20px;
    background-color: #83c44e;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}
.jiaDian-right-item>img{
    width: 160px;
    height: 160px;
    margin-top: 12px;
    margin-left: 36px;
}
.jiaDian-right-p2{
    width: 234px;
    height: 21px;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}
.jiaDian-right-p3{
    width: 214px;
    height: 18px;
    text-align: center;
    color: #b0b0b0;
    font-size: 12px;
    padding: 0 10px;
    overflow: hidden;
}
.jiaDian-right-p4{
    width: 234px;
    height: 21px;
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.jiaDian-right-p4>s{
    color: #b0b0b0;
    font-size: 13px;
}
.active1{
    background-color: #fff;
}
.active3-jiaDian{
    background-color: #f4f4f4;
}
.active3-jiaDian:hover{
   box-shadow: none;
}
.jiaDian8-1{
    width: 234px;
    height: 143px;
    background-color: #ffffff;
    padding: 50px 0 0 32px;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 14px;
    transition: all 0.3s;
}
.jiaDian8-1>a{
    width: 94px;
    height: 41px;
    color: #333;
    font-size: 14px;
}
.jiaDian8-1>p{
    font-size: 12px;
    color: #FF6700;
    margin-top: 10px;
}
.jiaDian8-1>img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
}
.jiaDian8-2{
    width: 234px;
    height: 143px;
    background-color: #ffffff;
    padding: 50px 0 0;
    box-sizing: border-box;
    transition: all 0.3s;
}
.jiaDian8-2{
    width: 234px;
    height: 143px;
    background-color: #ffffff;
    padding: 50px 0 0 32px;
    box-sizing: border-box;
    position: relative;
}
.jiaDian8-2>a{
    width: 94px;
    height: 41px;
    color: #333;
    font-size: 20px;
}
.jiaDian8-2>p{
    font-size: 12px;
    color: #333;
    margin-top: 2px;
}
.jiaDian8-2>img{
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    right: 35px;
    bottom: 50px;
}

/* 分割 */

.jiaDian-hidden{
    width: 234px;
    height: 75px;
    background-color: #FF6700;
    position: absolute;
    bottom: -80px;
    transition: all 0.3s;
    font-size: 12px;
    color: #fff;
    text-align: left;
    padding: 5px 30px;
    box-sizing: border-box;
}
.jiaDian-right-item:hover .jiaDian-hidden{
    transform: translateY(-80px);
}

/* 分割 */

#zhiNeng{
    width: 100%;
    height: 686px;
    background-color: #f5f5f5;
    margin-top: 25px;
}
.zhiNeng-box{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.zhiNeng-title{
    width: 1226px;
    height: 58px;
}
.zhiNeng-title>.itemS{
    font-size: 22px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: left;
}
.zhiNeng-title>.itemS2{
    font-size: 16px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: right;
    margin-left: 10px;
}
.zhiNeng-left{
    width: 234px;
    height: 614px;
    float: left;
    cursor: pointer;
}
.zhiNeng-left-top>img{
    width: 234px;
    height: 300px;
}
.zhiNeng-left-bottom>img{
    width: 234px;
    height: 300px;
    margin-top: 10px;
}
.zhiNeng-right{
    width: 992px;
    height: 614px;
    float: right;
}
.zhiNeng-right-item{
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    background-color: #fff;
    cursor: pointer;
}
.zhiNeng-right-p1{
    width: 64px;
    height: 20px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}
.zhiNeng-right-item>img{
    width: 160px;
    height: 160px;
    margin-top: 12px;
    margin-left: 36px;
}
.zhiNeng-right-p2{
    width: 234px;
    height: 21px;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}
.zhiNeng-right-p3{
    width: 234px;
    height: 18px;
    text-align: center;
    color: #b0b0b0;
    font-size: 12px;
}
.zhiNeng-right-p4{
    width: 234px;
    height: 21px;
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.zhiNeng-right-p4>s{
    color: #b0b0b0;
    font-size: 13px;
}
.active2{

    background-color: #83c44e;
}

/* 分割 */

.jiaDian-hidden{
    width: 234px;
    height: 75px;
    background-color: #FF6700;
    position: absolute;
    bottom: -80px;
    transition: all 0.3s;
    font-size: 12px;
    color: #fff;
    text-align: left;
    padding: 5px 30px;
    box-sizing: border-box;
}
.zhiNeng-right-item:hover .jiaDian-hidden{
    transform: translateY(-80px);
}

/* 分割 */

#match{
    width: 100%;
    height: 686px;
    background-color: #f5f5f5;
    margin-top: 25px;
}
.match-box{
    width: 1226px;
    height: 686px;
    margin: 0 auto;
}
.match-title{
    width: 1226px;
    height: 58px;
}
.match-title>.itemS{
    font-size: 22px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: left;
}
.match-title>.itemS2{
    font-size: 16px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: right;
}
.match-left{
    width: 234px;
    height: 614px;
    float: left;
    cursor: pointer;
}
.match-left-top>img{
    width: 234px;
    height: 300px;
}
.match-left-bottom>img{
    width: 234px;
    height: 300px;
    margin-top: 10px;
}
.match-right{
    width: 992px;
    height: 614px;
    float: right;
}
.match-right-item{
    width: 234px;
    height: 300px;
    margin-left: 14px;
    margin-bottom: 14px;
    float: left;
    background-color: #fff;
    cursor: pointer;
}
.match-right-p1{
    width: 64px;
    height: 20px;
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
}
.match-right-item>img{
    width: 160px;
    height: 160px;
    margin-top: 12px;
    margin-left: 36px;
}
.match-right-p2{
    width: 234px;
    height: 21px;
    text-align: center;
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}
.match-right-p3{
    width: 234px;
    height: 18px;
    text-align: center;
    color: #b0b0b0;
    font-size: 12px;
}
.match-right-p4{
    width: 234px;
    height: 21px;
    text-align: center;
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
.match-right-p4>s{
    color: #b0b0b0;
    font-size: 13px;
}
.active-match{
    background-color: #e53935;
}

/* 分割 */

.recomm{
    width: 100%;
    height:372px;
    margin-top: 30px;
    box-sizing: border-box;
}
.recomm-box{
    width: 1226px;
    height: 372px;
    margin:  0 auto;
}
.recomm-title{
    width:100%;
    height:58px;
    position: relative;
}
.recomm-title h2 {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
    float: left;
}
.recomm-btn{
    width:70px;
    height:25px;
    position: absolute;
    right:0;
    top:16px;
}
.recomm-pre{
    width:35px;
    height:100%;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    float: left;
    border-right: 0;        
    cursor: pointer;
}
.recomm-next {
    width:35px;
    height:100%;
    border: 1px solid #b0b0b0;
    box-sizing: border-box;
    float: right;
    cursor: pointer;
}
.recomm-btn img{
    height:15px;
    margin:5px 10px 0;
}
.recomm-pre>img{
    opacity: 0.3;
}
.recomm-bd{
    width:100%;
    height:314px;
    box-sizing: border-box;
}
.recomm-content{
    width:234px;
    height:300px;
    background: #fff;
    box-sizing: border-box;
    float: left;
    transition: all 0.3s;
}
.recomm-content:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.recomm-bd>.recomm-list>.recomm-content>.price{
    color: red!important;
}
.recomm-fu{
    margin-left: 14px;
}
.recomm-usb{
    width:100%;
    padding: 20px 0 15px;
    height: 145px;
}
.recomm-usb img{
    width:140px;
    height:140px;
    margin:0 40px 40px;
}
.recomm-content p{
    margin-bottom: 10px;
    width: 234px;
    height: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
}
.recomm-content a{
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
    text-align: center;
}
.recomm-content .price{
    color: #ff6700;
}
.recomm-content .peo {
    color: #757575;
    font-size: 14px;
}

/* 分割 */

.hot{
    height:473px;
    margin: 30px auto ;
}
.hot-box{
    width: 1226px;
    height: 473px;
    margin: 0 auto;
}
.hot-title{
    height:58px;
}
.hot-title h2 {
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.hot-bd{
    width:100%;
    height:415px;
}
.hot-list{
    width:100%;
    height:415px;
    box-sizing: border-box;
}
.hot-item{
    width:296px;
    height:100%;
    margin-right: 14px;
    background: #fff;
    position: relative;
    box-sizing: border-box;
    float: left;
    transition: all 0.3s;
}
.hot-item:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.hot-figure1{
    width: 296px;
    height: 220px;
    display: block;
    margin: 0 0 16px;
    text-align: center;
}
.hot-figure1 img{
    width: 100%;
    height: 100%;
    text-align: center;
}
.hot-p1{
    width:240px;
    height:72px;
    margin:0 28px 22px;
}
.hot-item a {
    width: 100%;
    height:100%;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
    display: -webkit-box;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp:3;       /*超出三行显示省略号*/
    -webkit-box-orient: vertical;
}
.hot-p2{
    width:240px;
    height:18px;
    margin:0 28px 10px;
    font-size: 12px;
    color: #b0b0b0;
}
.hot-info{
    width:236px;
    height:22px;
    margin: 0 30px;
    font-size: 12px;
    color: #333;
    float: left;
    line-height: 22px;
}
.hot-info h3{
    float: left;
    font-weight: 400;
    overflow: hidden;          /*单行文本超出部分隐藏*/
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hot-info-160{
    width:160px;
}
.hot-info span{
    float: left;
    margin:0 8px;
    color: #b0b0b0;
}
.hot-info p{
    color: #ff6700;
}
.active_hot{
    margin-right: 0;
}

/* 分割 */

.content{
    width: 100%;
    height: 478px;
}
.content-box{
    width: 1226px;
    height:478px;
    margin: 30px auto;
    box-sizing: border-box;
}
.content-title{
    width: 1226px;
    height:58px;
}
.content-bd {
    width: 1226px;
    height: 420px;
    box-sizing: border-box;
}
.content-title h2 {
    font-size: 22px;
    font-weight: 200;
    margin: 0;
    line-height: 58px;
    color: #333;
}
.content-list{
    width: 1226px;
    height: 420px;
    box-sizing: border-box;
    transition: all 0.3s;
}
.content-list>li{
    transition: all 0.3s;
}
.content-list>li:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);

}
.content-item{
    width:296px;
    height:420px;
    background: #fff;
    position: relative;
    float: left;
    padding:45px 0 0;
    box-sizing: border-box;
    margin-right: 14px;
}
.control-left {
    width: 20px;
    height: 48px;
    background: #b0b0b0;
    float: left;
    position: absolute;
    left:0;
    bottom:190px;
    text-align: center;
    line-height: 48px;
    transition: all 0.3s;
    opacity: 0;
}
.control-left>i{
    color: white;
}
.control-left:hover{
    background: rgba(0,0,0,0.5)!important;
    opacity: 1;
}
.control-right {
    width: 20px;
    height: 48px;
    background: #b0b0b0;
    float: left;
    position: absolute;
    right: 0;
    bottom:190px;
    text-align: center;
    line-height: 48px;
    transition: all 0.3s;
    opacity: 0;
}
.control-right>i{
    color: white;
}
.control-right:hover{
    opacity: 1;
    background: rgba(0,0,0,0.5)!important;
}
.content-item:hover .control-left{
    background: #b0b0b0;
    opacity: 0.8;
}
.content-item:hover .control-right{
    background: #b0b0b0;
    opacity: 0.8;
}


.content-item h2 {
    margin: 0 10px 18px;
    font-size: 16px;
    font-weight: 400;
    color: #ffac13;
    text-align: center;
    display: block;
}
.book{
    border-top: solid #ffac13 1px;
}
.book2{
    border-top: solid #83c44e 1px;
}
.book2 h2{
    color: #83c44e;
}
.book3{
    border-top: solid #e53935 1px;
}
.book3 h2{
    color: #e53935;
}
.book4{
    border-top: solid #2196f3 1px;
}
.book4 h2{
    color: #2196f3;
}
.book-font{
    width: 100%;
    height: 335px;
}
.book-font h3{
    margin: 0 23px 5px;
    text-align: center;
}
.book-font a {
    display: block;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.book-font p{
    font-size: 12px;
    color: #b0b0b0;
}
.desc{
    margin: 0 48px 10px;
    height: 40px;
    text-align: center;
    overflow: hidden;
    line-height: 20px;
}
.price{
    font-size: 14px!important;
    color: #333!important;
}
.book-img {
    width: 100%;
    height:154px;
}
.book-img a{
    display: block;
    margin: 0 48px;
}
.book-dd{
    width:100%;
    height:30px;
}
.book-dian{
    width:120px;
    height:30px;
    margin: 0 105px 0;
}
.book-dd li{
    width:6px;
    height:6px;
    background: #b0b0b0;
    border-radius: 50%;
    margin: 20px 10px 0;
    float: left;
    cursor: pointer;
}
.book-dd li:hover{
    background: #ff6700;
}
.book-dd .dd1{
    background: #fff;
    border:solid 0.5px #ff6700;
}
.active_content{
    margin-right: 0!important;
}

/* 分割 */

.video{
    width: 100%;
    height: 343px;
    margin-top: 25px;
}
.video-box{
    width: 1226px;
    height: 343px;
    margin: 0 auto;

}
.video-title{
    width: 1226px;
    height: 58px;
}
.video-title>.itemS{
    font-size: 22px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: left;
}
.video-title>.itemS2{
    font-size: 16px;
    color: #333;
    line-height: 58px;
    font-weight: 200;
    float: right;
}

.video-item{
    width: 1226px;
    height: 285px;
}
.video-item-box:hover{
    box-shadow: 0 0 10px rgba(176, 176, 176, 0.4);
    transform: translate(0,-2px);
}
.video-item-box{
    width: 296px;
    height: 285px;
    background-color: #fff;
    text-align: center;
    float: left;
    margin-right: 14px;
    transition: all 0.3s;
    position: relative;
}
.active_video{
    margin-right:0;
}
.video-img>a>img{
    width: 296px;
    height: 180px;
    z-index: 990;
    display: block;
}
.video-img>a>video{
    width: 296px;
    height: 180px;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 998;
    display: none;
}
.video-img>a>span{
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    margin-left: 16px;
    position: absolute;
    left: 0;
    top: 140px;
    line-height: 20px;
    text-align: center;
}
.video-img>a>span>i{
    font-size: 15px;
    color: white;
}
.video-img>a>span:hover{
    background-color: #ff6700;
    border-color: #ff6700;
}
.video-item-box>h6{
    font-size: 14px;
    color: #333;
    margin-top: 25px;
}
.video-item-box>p{
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 10px;
}
.active_video{
    color: #000;
}
.video-img:hover span{
    background-color: #ff6700;
    border-color: #ff6700;
}

/* 分割 */

#into{
    width: 100%;
    height: 272px;
    background-color: #fff;
}
.into-box{
    width: 1226px;
    height: 272px;
    background-color: #fff;
    margin: 0 auto;
}
.into-box-title{
    width: 1226px;
    height: 80px;
    border-bottom: 1px solid #e0e0e0;
}
.into-box-title>ul{
    text-align: center;
}
.into-box-title>ul>li{
    width: 244px;
    height: 25px;
    float: left;
    border-right: 1px solid #e0e0e0;
    line-height: 25px;
    margin-top: 28px;

}
.into-box-title>ul>li:hover{
    color: #ff6700;
    cursor: pointer;
}
.into-box-title>ul>.active4{
    border-right:0;
}
.into-box-title>ul>li>i{
    font-size: 21px;
    margin-right: 6px;

}
.into-box-body{
    width: 1226px;
    height: 192px;
}
.into-box-body-left{
    width: 975px;
    height: 192px;
    float: left;
}
.link_nav{
    width:160px;
    height:112px;
    margin-top: 40px;
    float:left;
}
.link_nav dt{
    margin:-1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}
.link_item{
    margin:10px 0 0;
}
.link_item a{
    color: #757575;
    font-size: 12px;
}
.link_item a:hover{
    color: #ff6700;
}
.into-box-body-right{
    width: 251px;
    height: 192px;
    float: right;
}
.link_content{
    width:251px;
    height:112px;
    border-left: #e0e0e0 solid 1px;
    text-align: center;
    margin-top: 40px;
}
.phone {
    font-size: 21px;
    line-height: 1;
    color: #ff6700;
    margin:0 0 5px;
}
.mount{
    font-size: 12px;
    margin:0 0 16px;
}
#link_btn {
    display: block;    
    width: 120px;
    height: 30px;
    margin: 0 auto;
    background: #fff;
    text-align: center;
    border: #ff6700 solid 1px;
}
#link_btn  i{
    font-size: 20px;
}
.link-logo {
    width: 118px;
    height: 28px;
    border: solid 1px #ff6700;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 65px;
}
.link-logo a{
    font-size: 12px;
    color: #ff6700;
}
.link-logo:hover{         /*鼠标移入时改变背景色*/
    background: #ff6700;
}
.link-logo:hover i{       /*鼠标移入时改变i标签颜色*/
    color: #fff;
}
.link-logo:hover a{       /*鼠标移入时改变a标签颜色*/
    color: #fff;
}
.link-logo i {
    font-size: 12px;
    color: #ff6700;
    font-weight: 700;
}

/* 分割 */

footer{
    width: 100%;
    height: 232px;
    background-color: #fafafa;
    margin-top: 0px;
    padding-top: 30px;
}
.footer-box{
    width: 1226px;
    height: 91px;
    margin: 0 auto;
}
.footer-box-left{
    width: 57px;
    height: 91px;
    float: left;
}
.footer-box-left>img{
    width: 57px;
    height: 57px;
}
.footer-box>.p1{
    width: 1100px;
    font-size: 12px;
    color: #b0b0b0;
    margin-left: 65px;

}
.footer-box>p{
    margin-left: 65px;
}
.footer-box>p>a{
    color: #757575;
    font-size: 12px;
}
.footer-box>p>a:hover{
    color: #ff6700;
}
.footer-box>p>span{
    font-size: 10px;
    color: #b0b0b0;
    margin-left: 4px;
}
.photo5{
    margin-top: 8px;
    margin-left: 65px;
}
.photo5>img{
    width: 85px;
    height: 28px;
}
.tanSuo-box{
    font-size: 20px;
    text-align: center;
    font-family: 华文琥珀;
    opacity: 0.3;
}
.active_footer_color:hover{
    color: #ff6700;
    cursor: pointer;
}

/* 分割 */

#guDing{
    width: 80px;
    height: 410px;
    position: fixed;
    right: 0px;
    bottom: 140px;
}
.guDing-item{
    width: 80px;
    height: 80px;
    background-color: #fff;
    line-height: 50px;
    border: 1px solid #e0e0e0;
    border-bottom: 0;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
    line-height: 95px;
    cursor: pointer;
}
.guDing-item p:hover{
   color: #ff6700;
}
.guDing-item>img{
    width: 32px;
    height: 32px;
    margin-left: 6px;
    margin-top: 10px;
}
.guDing-itemA{
    border-bottom: 1px solid #e0e0e0;
}
.guDing-itemB{
    border-bottom: 1px solid #e0e0e0;
}
.guDing-itemB:hover{
    cursor: pointer;
}
.guDing-item .xx1{
    position:absolute;
    top:17px;
    left:12px;
    font-size: 13px;
}
.guDing-item .xx2{
    position:absolute;
    top:97px;
    left:12px;
    font-size: 13px;
}
.guDing-item .xx3{
    position:absolute;
    top:177px;
    left:13px;
    font-size: 13px;
}
.guDing-item .xx4{
    position:absolute;
    top:257px;
    left:14px;
    font-size: 13px;
}
.guDing-item .xx5{
    position:absolute;
    top:337px;
    left:22px;
    font-size: 13px;
}
.guDing-item .xx6{
    position:absolute;
    top:417px;
    left:20px;
    font-size: 13px;
}




